fieldset {
  /* Get rid of the border on the fieldset. */
  border: 0;
}

form {
  /* Center the form on the page. */
  margin: 0 auto;
  width: 600px;
  /* curved border around the form. */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  /* make all the fonts in the form the same. */
  font-family: Arial, Helvetica, sans-serif;

}
/* every div after the first div in the form. */
form div+div {
  margin-top: 1em;
}

label {
  /* uniform size & alignment for labels. */
  display: inline-block;
  width: 90px;
  text-align: right
}

legend {
  /* add a bottom border to the legend. */
  border-bottom: 1px solid black;
}

input,
textarea {
  /* you must explicitly override the fonts in textareas and inputs. */
  font-family: Arial, Helvetica, sans-serif;
  /* uniform text field and textarea sizes. */
  width: 425px;
  box-sizing: border-box;
  /* match form field borders. */
  border: 1px solid #999;

}

input:focus,
textarea:focus {
  /*additional highlight for focused elements. */
  border-color: #000;
}

textarea {
  /* align multiline text fields with their labels. */
  vertical-align: top;
  /* provide space to type some text. */
  height: 5em;
}
select {
  /* you must explicitly override the font in a select. */
  font-family: Arial, Helvetica, sans-serif;
  /* make the select as wide as the other form elements. */
  width: 425px;

}
button {
  /* space the button to the right. */
  margin-left: .5em;
}
